@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    transition: all .2s linear;
}

a{
  text-decoration: none;
}

html{
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}



/* header section start here  */

header{
  width: 100%;
  position: fixed;
  padding: 1rem;
  z-index: 1000;
  background: #354046;
  left: 0;
  top: 0;
}

header .header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

header .header-container .logo{
  font-size: 1.1rem;
  color: #fff;
}

header .header-container nav ul{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

#menu{
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

header .header-container nav ul li{
  margin: 0 1rem;
}

header .header-container nav ul li a{
  color: #fff;
  font-size: 1.1rem;
  padding: 0.6rem;
}


/* header section end here  */


/* ---------------- footer section start here ----------------- */

footer .footer-container .footer-top{
  display: flex;
  justify-content: space-around;
}

footer .footer-container .footer-top .company{
  padding:1rem 2rem;
  width: 20rem;
}

footer .footer-container .footer-top .company ul{
  list-style: none;
  padding: 0;
  margin: 1rem 0.1rem;
}

footer .footer-container .footer-top .company ul li{
  margin: 0.5rem 0;
}

footer .footer-container .footer-top .company ul a{
  color: rgb(145, 145, 145);
}

footer .footer-container .footer-top .company ul a:hover{
  color: #354046;
  padding-left: 1rem;
}

footer .footer-container .footer-top .newsletter p{
  color: rgb(145, 145, 145);
}

.newsletter{
  padding: 1rem 2rem;
}

.newsletter form .form-div input[type='email']{
  border-radius: 2rem;
  padding:0.5rem 2rem;
}

.newsletter form .form-div input[type='email']:focus{
  box-shadow: .1rem 0rem .3rem .2rem rgba(0, 0, 0, 0.1);
  border: .1rem solid rgba(0, 0, 0, 0.1);
}

.newsletter form .form-div input[type='email']::placeholder{
  color: rgb(145, 145, 145);
}

.newsletter form .form-div input[type='submit']{
  border-radius: 2rem;
  padding: 0 2rem;
  border: .1rem solid rgba(145, 145, 145,0.3);
  background: #354046;
  color: #fff;
}

.footer-container .footer-bottom .container-bottom{
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.footer-container .container{
  width: 100%;
  height: .1rem;
  background: rgba(0, 0, 0, 0.1);
}

footer .footer-container .footer-bottom .container-bottom .about-site{
  padding: 0 2rem;
}

footer .footer-container .footer-bottom .container-bottom .about-social{
  padding: 0 2rem;
}

footer .footer-container .footer-bottom .container-bottom .about-site p{
  color: rgb(145, 145, 145);
}

footer .footer-container .footer-bottom .container-bottom .about-site a{
  color: #354046;
}

footer .footer-container .footer-bottom .container-bottom .about-site div:first-child{
  padding: 1rem 0;
}

footer .footer-container .footer-bottom .container-bottom .about-site div:first-child a{
  margin-right: 1rem;
}

footer .footer-container .footer-bottom .container-bottom .about-social a{
  font-size: 1rem;
  width: 3rem;
  padding: .8rem;
  border-radius: 4rem;
  margin: 0 0.5rem;
  color: #354046;
  background: #fff;
  border: .1rem solid rgba(0, 0, 0, 0.4);
}


footer .footer-container .footer-bottom .container-bottom .about-social a:hover{
  color: #fff;
  background: #354046;
}

/* ------------------- footer section end here ----------------- */









/* --------------------------- loader start here -------------------- */

    @-webkit-keyframes loader {

      0%,
      10%,
      100% {
        width: 84px;
        height: 84px;
      }

      65% {
        width: 150px;
        height: 150px;
      }
    }

    @keyframes loader {

      0%,
      10%,
      100% {
        width: 84px;
        height: 84px;

      }

      65% {
        width: 84px;
        height: 84px;
      }
    }

    @keyframes loaderBlock1 {
      0% {
        transform: rotate(145deg);
      }

      55% {
        background-color: #fff;
        transform: scale(0.5);
        border-radius: 50%;
      }

      100% {
        transform: rotate(145deg);
        border-radius: 0%;
      }
    }

    @keyframes loaderBlock2 {
      0% {
        transform: rotate(110deg);

      }

      55% {
        background-color: #fff;
        transform: scale(0.5);
        border-radius: 50%;
      }

      100% {
        transform: rotate(110deg);
        border-radius: 0%;
      }
    }

    @keyframes loaderBlock3 {
      0% {
        transform: rotate(175deg);
      }

      55% {
        background-color: #fff;
        transform: scale(0.5);
        border-radius: 50%;
      }

      100% {
        transform: rotate(175deg);
        border-radius: 0%;
      }
    }

    @keyframes loaderBlock4 {
      0% {
        transform: rotate(110deg);
      }

      55% {
        background-color: #fff;
        transform: scale(0.5);
        border-radius: 50%;
      }

      100% {
        transform: rotate(110deg);
        border-radius: 0%;
      }
    }

    @keyframes loaderBlock5 {
      0% {
        transform: rotate(170deg);
      }

      55% {
        background-color: #fff;
        transform: scale(0.5);
        border-radius: 50%;
      }

      100% {
        transform: rotate(170deg);
        border-radius: 0%;
      }
    }

    @keyframes loaderBlock6 {
      0% {
        transform: rotate(150deg);
      }

      55% {
        background-color: #fff;
        transform: scale(0.5);
        border-radius: 50%;
      }

      100% {
        transform: rotate(150deg);
        border-radius: 0%;
      }
    }

    @keyframes loaderBlock {

      0%,
      30% {
        transform: rotate(0);
      }

      55% {
        background-color: transparent;
        transform: scale(0.5);
      }

      100% {
        transform: rotate(180deg);
      }
    }

    @keyframes loaderBlockInverse {

      0%,
      20% {
        transform: rotate(0);
      }

      55% {
        background-color: transparent;
        transform: scale(0.5);
      }

      100% {
        transform: rotate(180deg);
      }
    }

    .loader-box {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      z-index: 100;
    }

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 84px;
      height: 84px;
      transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
      -webkit-animation: loader 2s infinite ease-in-out;
      animation: loader 2s infinite ease-in-out;
    }

    .loader span {
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 0px;
      background-color: #fff;
      border: 1px #fff solid;
      box-sizing: border-box;
      -webkit-animation: loaderBlock 2s infinite ease-in-out both;
      animation: loaderBlock 2s infinite ease-in-out both;
    }

    .loader span:nth-child(1) {
      top: -2px;
      left: -40px;
      /*transform: rotate(145deg) !important;*/
      -webkit-animation: loaderBlock1 1.2s infinite ease-in-out both;
      animation: loaderBlock1 2s infinite ease-in-out both;
    }

    .loader span:nth-child(2) {
      /*transform: rotate(110deg) !important;*/
      top: -25px;
      right: 40px;
      -webkit-animation: loaderBlock2 2s infinite ease-in-out both;
      animation: loaderBlock2 2s infinite ease-in-out both;
    }

    .loader span:nth-child(3) {
      /*transform: rotate(175deg) !important;*/
      bottom: 41px;
      right: 0px;
      -webkit-animation: loaderBlock3 1.2s infinite ease-in-out both;
      animation: loaderBlock3 2s infinite ease-in-out both;
    }

    .loader span:nth-child(4) {
      bottom: -25px;
      right: 45px;
      /*transform: rotate(110deg) !important;*/
      -webkit-animation: loaderBlock4 1.2s infinite ease-in-out both;
      animation: loaderBlock4 2s infinite ease-in-out both;
    }

    .loader span:nth-child(5) {
      bottom: -3px;
      left: -42px;
      /*transform: rotate(170deg) !important;*/
      -webkit-animation: loaderBlock5 1.2s infinite ease-in-out both;
      animation: loaderBlock5 2s infinite ease-in-out both;
    }

    .loader span:nth-child(6) {
      bottom: -6px;
      right: 0%;
      /*transform: rotate(150deg) !important;*/
      -webkit-animation: loaderBlock6 1.2s infinite ease-in-out both;
      animation: loaderBlock6 2s infinite ease-in-out both;
    }

/* ---------------------- loader end here --------------------------- */

.search{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 17rem 0;
}

.result .container{
    margin-top: 2rem;
}

.result .container .post{
    width: 30rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.container .logo{
    margin: 0;
}

.container .footer,.header{
    margin: 1rem 0;
    color: rgb(177, 177, 177);
}

.container .footer a{
    text-decoration: none;
}


.search .box{
    position: relative;
    width: 40%;
    margin-bottom: 2rem;
}

.search .container .box form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .container .box form .search-icon{
  position: absolute;
  left: 0.8rem;
  font-size: 1.3rem;
  color: rgb(177, 177, 177);

}

.search .box input{
    width: 100%;
    padding: 0.5rem 2.5rem;
    border-radius: 1rem;
    border: .1rem solid rgb(204, 201, 201);
}

.search .box input::placeholder{
    color: rgb(204, 201, 201);
}

.search .box input:hover{
    box-shadow: 0rem 0.2rem 0.1rem 0rem rgb(204, 201, 201);
}

.search .box input:focus{
    box-shadow: none;
}

.search-post .box-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-post .box-container .post-box{
  border: .1rem solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 1.3rem;
  padding: 1rem;
  width: 45%;
}

.search-post .box-container .post-box:hover{
  background: rgba(163, 163, 163, 0.1);
}

.search-post .box-container .post-box .datetime{
  color: rgb(145, 145, 145);
}

.search-post .box-container .box-heading div:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-post .box-container .box-heading div:first-child img{
  margin: 0 .5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 5rem;
}

.search-post .box-container .box-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.search-post .box-container .box-heading .twitter-logo{
  width: 3.5rem;
  height: auto;
  transform: rotate(-30deg);
}

.search-post .box-container .box-footer{
  display: flex;
  justify-items: center;
  align-items: center;
}

.search-post .box-container .box-footer a{
  /* font-size: 1.1rem; */
  margin-right: 1.5rem;
  padding: 0.5rem;
  color: rgb(145, 145, 145);
}

.search-post .box-container .box-footer a:hover{
  background: rgb(204, 201, 201);
  border-radius: 2rem;
}

/* contact section start here  */

.contact{
  width: 100vw;
  height: 100vh;
}

.contact .container{
  height: 100%;
}

.contact .container .form-container .inputBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact .container .form-container .inputBox input{
  width: 49%;
  margin: 1rem 0;
  padding: .5rem 1rem;
  border-radius: 2rem;
  border: .1rem solid rgba(0, 0, 0, 0.3);
}

.contact .container .form-container .inputBox textarea{
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 1rem;
  padding: 1rem;
  resize: none;
}

.contact .container .form-container .inputBox textarea::placeholder{
  color: rgb(204, 201, 201);
}

.contact .container .form-container input[type=submit]{
  padding:0.5rem 3rem;
  margin: 1rem 0;
  border-radius: 2rem;
  border: .1rem solid rgba(0, 0, 0, 0.2);
  background: #354046;
  color: #fff;
}

.contact .container .form-container input::placeholder{
  color: rgb(204, 201, 201);
}

.contact .container .form-container input:hover{
  box-shadow: 0rem 0.2rem 0.1rem 0rem rgb(204, 201, 201);
}

.contact .container .form-container textarea:hover{
  box-shadow: 0rem 0.2rem 0.1rem 0rem rgb(204, 201, 201);
}

.contact .container .form-container textarea:focus{
  box-shadow: none;
}

.contact .container .form-container input:focus{
  box-shadow: none;
}

/* contact section end here  */


@media screen and (max-width:1000px){
    .search .box{
        width: 60%;
    }
}


@media screen and (max-width:800px){
  footer .footer-container .footer-top{
    flex-direction: column;
  }
}

@media screen and (max-width:700px){
    .result .container .post{
        width: 20rem;
    }
    html{
      font-size: 92%;
    }
    .search .search-post .post-box{
      width: 60%;
    }
}

@media screen and (max-width:500px){  
  .footer-container .footer-bottom .container-bottom{
    flex-direction: column;
  }

  .footer-container .footer-bottom .container-bottom .about-site a{
    color: #354046;
  }
  #menu{
    display: block;
  }

  .nav{
    position: fixed;
    top: 3rem;
    left:-120%;
    height: 100%;
    width: 100%;
    background: #354046;
  }

  header .header-container nav ul{
    flex-flow: column;
    padding: 2rem;
    width: 100%;
  } 
    
  header .header-container nav ul li{
    text-align: center;
    width: 100%;
    /* margin: 2rem 0; */
  }
  header .header-container nav ul li a{
    display: block;
    padding: 0.6rem;
    margin: 1rem 0;
    border: .1rem solid rgba(145, 145, 145,0.9);
    text-align: center;
    border-radius: 2rem;
  }
  header .header-container nav ul li a:hover{
    padding: 0.6rem;
    background: #fff;
    color: #354046;
    border-radius: 2rem;
  }
  .fa-times{
    transform: rotate(180deg);
  }
  header nav.nav-toggle{
    left: 0;
  }
  .search-post .box-container .box{
    border: .1rem solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.6rem;
    padding: 1rem;
    width: 60%;
  }
  .search .search-post .post-box{
    width: 70%;
  }
    
}

@media screen and (max-width:450px){
    .search .box{
        width: 90%;
    }
    .result .container .post{
        width: 18rem;
    }
      
  .newsletter form .form-div input[type='email']{
    padding:0.4rem 2rem;
  }

  .newsletter form .form-div input[type='submit']{
    border-radius: 2rem;
    padding: 0 1rem;
  }
  .search-post .box-container .box{
    border: .1rem solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.6rem;
    padding: 1rem;
    width: 80%;
  }
  .search .search-post .post-box{
    width: 80%;
  }

}


@media screen and (max-width:500px){

}
